{{ define "title" }}
  {{ .Title | title }}
{{ end }}

{{ define "main" }}
    {{ if in "essays pages" .Section }}
      <h1 class="post__title">{{ .Title | title }}</h1>
    {{ else }}
      <h2>
        {{ if isset .Params "link" }}
          <a href="{{ .Params.link }}">{{ .Title | title }}</a>
        {{ else }}
          {{ .Title | title }}
        {{ end }}
      </h2>
    {{ end }}

  	{{ .Content }}

    {{ if .PublishDate }}
      <p><a class="post__meta" href='{{ strings.TrimSuffix "/" .Permalink }}'>{{ .PublishDate.Format "Monday, 2 January 2006" }}</a></p>

      <hr>
  
      {{ if .PrevPage }}<p><strong>Older</strong><br><a href='{{ strings.TrimSuffix "/" .PrevPage.Permalink }}'>{{.PrevPage.Title | title}}</a></p>{{ end }}
      {{ if .NextPage }}<div><strong>Newer</strong><br><a href='{{ strings.TrimSuffix "/" .NextPage.Permalink }}'>{{.NextPage.Title | title}}</a></div>{{ end }}
    {{ end }}
{{ end }}