@charset "UTF-8";

@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 500; 
  src: url("/fonts/IBMPlexSerif-Medium.woff2") format("woff2"),
       url("/fonts/IBMPlexSerif-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 500; 
  font-style: italic; 
  src: url("/fonts/IBMPlexSerif-MediumItalic.woff2") format("woff2"),
       url("/fonts/IBMPlexSerif-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexSerif";
  font-weight: 700; 
  src: url("/fonts/IBMPlexSerif-Bold.woff2") format("woff2"),
       url("/fonts/IBMPlexSerif-Bold.woff") format("woff");
}

:root {
  // Colors
  --accent: #FFC200;
  --accent: #848ccf;
  --text-heading: rgba(0,0,0,.9);
  --text: rgba(0,0,0,.8);
  --faded: #f1f1f1; 
  --faded-line: #e1e1e1; 
  --faded-text: #757575; 
  --bg: #fafafa;
  --bg-column: #fff; 

  // Sizing
  --font-weight-bold: 700; 
  --font-weight-regular: 500; 
  --font: "IBMPlexSerif", Georgia, serif; 
  --font-heading: "Whitney SSm A", "Whitney SSm B", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, serif; 
  --max-width: 44rem; 
  --padding: 4rem; 
  --font-size: 16px;
}

::selection { 
  background-color: var(--accent); 
}
* { box-sizing: border-box; } 
html { 
  font-size: var(--font-size); 
}
a, a:hover, button, button:hover, html { cursor: url(/images/cursor.png),auto; }
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  color: var(--text);
  background: var(--bg); 
  font-family: var(--font); 
  font-weight: var(--font-weight-regular);
  margin: 0 auto;
  padding: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
h1,h2,h3,img,blockquote,ul,ol,p { margin: 0 0 1.5rem 0; }
code { font-family: var(--font); }
strong { font-weight: var(--font-weight-bold); }
h1, h2, h3 { 
  font-weight: var(--font-weight-bold);
  color: var(--text-heading); 
  font-family: var(--font-heading); 
}
h1 { 
  line-height: 1.25em; 
  font-size: 1.563rem; 
  letter-spacing: -.01em;
}
h2 { 
  font-weight: var(--font-weight-regular);
  font-size: 1.25rem; 
  margin-bottom: .75rem;
}
h3 {
  line-height: 1.4em;
  font-size: 1rem; 
  font-weight: bold; 
  margin: 1.5rem 0 .25rem; 
}

ul { list-style: square; padding-left: 1.25rem; }
li { margin-bottom: .5rem; }
a {
  color: var(--text); 
  transition: color .2s ease;
  // text-decoration-color: var(--faded-line); 
  text-decoration-thickness: 1px; 
}
a:hover { 
  color: var(--accent); 
}

blockquote {
  margin-left: 1.5rem;
  font-style: italic;
}

hr { margin: 2rem 0; height: 2px; background: var(--faded-line); border: 0; }

img {
  height: auto;
  display: block;
  margin: 1.5rem 0;
  border-radius: 2px; 
  width: 100%;
}

em img {
  border-radius: 0; 
  display: block; 
}

small { font-size: .875rem; }

main {
  max-width: var(--max-width); 
  margin: 3rem auto;
  padding: var(--padding); 
  background: var(--bg-column); 
  border-radius: 4px; 
}

.header {
  display: flex; 
  margin: 0 auto; 
  align-items: center; 
  margin-bottom: 3rem;
}

.header__menu {
  padding: .5rem; 
  border-radius: 8px; 
  border: 0; 
  font-size: 1.25rem;
  background: transparent;
  margin-left: auto; 
  transition: background-color ease .2s; 
  &:hover {
    background-color: var(--faded); 
  }
}

.navigation {
  display: none;
  font-style: italic; 
  margin-bottom: 4rem; 
}
.navigation--active { display: block; }


.logo {
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  display: block; 
  background-position: left top; 
  background-image: url(/images/logo.svg);
  width: 8rem; 
  padding: .5rem 0; 
  height: 30px; 
  border-radius: 8px; 
  margin: 0; 
  text-indent: -99999px;
  border: 0; 
  transition: opacity .2s ease;
  &:hover {
    opacity: .5
  }
}


.headshot {
  max-width: 140px; 
  float: right; 
  margin: 2.5rem 0 1.5rem 1.5rem;
  transform: rotate(-4deg);
  img { 
    margin: 0 0 .25rem; 
    border-radius: 8px; 
  }
  figcaption { 
    font-size: .75rem; 
    color: var(--faded-text);
  }
}


.index__date {
  position: relative; 
  border-top: solid 2px var(--faded-line); 
  font-size: 1rem; 
  color: var(--faded-text); 
}
.index__date__year {
  background: white; 
  position: relative;
  top: -1rem; 
  top: -.75rem; 
  padding-right: .5rem; 
}
.index__item { margin-bottom: 1.5rem; }
.index__item__title { font-weight: var(--font-weight-bold); }
.index__item__title--essay {
  font-weight: var(--font-weight-bold); 
  &:before {
    content: ""; 
    display: inline-block; 
    background-image: url(/images/lock.svg);
    background-image: url(/images/file-text-heavy.svg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 1em; 
    height: 1em;
    top: 2px; 
    position: relative; 
    margin: 0 .25em 0 0;  
  }
}
.index__item__title--link { 
  font-weight: var(--font-weight-regular); 
}

.post__meta {
  font-size: 1rem;
  color: var(--faded-text); 
  margin-top: 0;
  text-decoration-color: transparent; 
}

.post__summary {
  color: var(--faded-text); 
}



@media (max-width: 900px) {
  :root {
    --max-width: 32rem; 
    --font-size: 16px; 
  }
}

@media (max-width: 700px) {
  :root {
    --padding: 1rem; 
    --max-width: 100%; 
    --font-size: 18px; 
  }
  main {
    margin: 0;
    padding-bottom: 6rem;
  }
  .index__item__title--note:before {
    top: 3px; 
  }
}
